#
# clone this to 'loginCredentials.properties' and fill it with your entries
#

# the SVN user login
svn.user : 
# the SVN password Base64 encoded (use launch configuration "EncodeBase64 String")
svn.passwd : 

# the TRAC user login
trac.user :
# the TRAC password Base64 encoded (use launch configuration "EncodeBase64 String")
trac.passwd : 
