p.Code {
	margin: 1em;
	white-space: pre;
}

span.Code {
	font-weight: normal;
	font-style: normal;
	color: #4444CC;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier New", Courier, monospace;
}

ul.childlinks {
	margin-left: 1.5em;
	padding-left: 0px;
	list-style-type: none;
}

img.Image {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}
